
<mat-nav-list>
  <div *ngIf="friends">
    <span *ngFor="let fr of friends">
      <a mat-list-item class="sidenav" [routerLink]="['/friendlist', fr.id]" (click)="toggleSidenav()"> <!-- (click)="sidenav.toggle();"         router link makes row clickable   toggle close here ? toggle(),  (click)="sidenav.close() -->
        <img matListAvatar src="{{ fr.avatar.thumb.url | fixUrlPipe }} ">
        <h3 matLine  *ngIf = "fr.username">{{ fr.username }}</h3>
        <h3 matLine  *ngIf = "!fr.username"> Username: Unknown </h3>
        <p  matLine>
          User Id:{{fr.id}}
        </p>
      </a>
      <mat-divider ></mat-divider>
    </span>
  </div>
</mat-nav-list> 

   
  