



<div *ngIf="wishlist">
  <mat-list>
  <mat-list-item>
    <ul>
      
      <img matListAvatar src="{{wishlist.user.avatar.thumb.url | fixUrlPipe}} "> 
      <li matLine>List ID: {{wishlist.id}}</li>
      <li matLine>Type: {{wishlist.type}}</li>
      <li matLine>User ID: {{wishlist.user_id}}</li>
      <li matLine>User Email: {{ wishlist.user.email}}</li>
      <li matLine>User Avatar: {{ wishlist.user.avatar_url | fixUrlPipe }}
      </li>
      <button (click)="addListitemDialog()">Add Listitem</button>
    </ul>      
   </mat-list-item>
   </mat-list>
   

 <app-listitem [listId]= wishlist.id></app-listitem>

</div> 

 
<!--<div *ngIf="wishlist">
  <mat-list>
  <div *ngFor="let li of wishlist.listitems">
          <a mat-list-item [routerLink]="['/listitem', li.id]">-->
               <!-- router link makes row clickable   toggle close here ? toggle(),  (click)="sidenav.close()-->

      
      <!--<ul>
         
        <li matLine>listitem id: {{ li.id }}</li>
        <li matLine>item: {{ li.item }}</li>
        <li matLine>item url: {{ li.item_url }}</li>
        <li matLine>description: {{li.more}} </li> 
        <li matLine>status: {{ li.status.li_state }}</li>
        
      </ul>
      
    </a>
    <button (click)="deleteListitem(li.id)">Delete Listitem</button>
    <mat-divider ></mat-divider>
  </div>
  </mat-list>
  
</div> -->
 