 <mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav" >
    <mat-toolbar color="primary">
       
      <span class="toolbar-filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>
     

 
  <div>
    <app-friend></app-friend> 
      
     <router-outlet name="frlist"> </router-outlet> 
</div>  
    
    </mat-sidenav>
  
  
  
 <mat-toolbar id="appToolbar" [ngClass]="{'toolbar-fullscreen': (fullscreen$ | async)}" color="primary" role="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
            <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <h1 class="component-title">
      <a class="title-link" [routerLink]="['/home']">  IMCLAUS </a>
    </h1>
    <span class="fill-space"></span> 
    <button (click)="Logout()" mat-button>Log Out</button> 
           
  </mat-toolbar>
  <router-outlet></router-outlet>

</mat-sidenav-container>
  
   