<form [formGroup]="listitemForm" (ngSubmit)="onSubmit()">
  <h4>Add an Item</h4>

  <label>
    Item:
    <input type="text" formControlName="item" required>
  </label>

  <label>
    Url:
    <input type="text" formControlName="item_url">
  </label>
  
  <label>
    Description:
    <input type="text" formControlName="more">
  </label>
  <button type="submit" [disabled]="!listitemForm.valid">Submit</button>

<!--show the status of the form (valid/invalid)-->
<p>
  Form Status: {{ listitemForm.status }}
</p>
 
 </form>
 
 