

<app-toolbar></app-toolbar>

<mat-card class = "small-card">
  <mat-card-title>Sign In</mat-card-title>
    <mat-error *ngIf="isLoginError" class="red-text center error-message">
      <i class="material-icons">error</i> Incorrect username or password
    </mat-error>

    <form [formGroup]="signinForm" (ngSubmit)="OnSubmit(user)">
      <mat-form-field appearance="outline">
        <mat-label> Email Address </mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field><br> 
      <mat-form-field appearance="outline">
        <mat-label> Password </mat-label>
        <input matInput formControlName="password"  [type]="hide ? 'password' : 'text'" required>
        <mat-hint class = 'smaller'>*Required</mat-hint>
      </mat-form-field>
      <mat-card-actions>
          <button mat-button type="onSubmit" class="btn btn-primary-outline">Sign In</button>
      </mat-card-actions> 

 
    </form>
</mat-card> 

 <!--<div class="row">
     <div class="input-field col s12">
       <i class="material-icons prefix">account_circle</i>
       <input type="text" #email ngModel name="email" placeholder="Email" required>
     </div>
   </div>
   <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input type="password" #password ngModel name="password" placeholder="Password" required>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!signInForm.valid" class="btn-large btn-submit" type="submit">Login</button>
        </div>
      </div>-->