 
  <h2>User Info</h2>
 
  
  
<div class="row" *ngIf="userModel">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-content">
       <mat-list> 
        <ul>
          <img matListAvatar src="{{userModel.avatar.thumb.url | fixUrlPipe }} ">
          <li>User Id: {{userModel.id}}</li>
          <li *ngIf="userModel.username">Username: {{userModel.username}}</li>
          <li *ngIf="!userModel.username">Username: Unknown</li>
          <li>Email: {{userModel.email}}</li>
          <li>Avatar_url: {{userModel.avatar_url}}</li>
        </ul>
        </mat-list>
         <button type="button" class="btn btn-primary-outline pull-right"(click)="clear(); showUserResponse()">Response Headers</button>
         <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"> My Wishlist</button>
         <nav><a routerLink="/friends" routerLinkActive="active">Friend</a></nav>
     
      </div>
      <!--button click gets response headers-->
      <div *ngIf="headers">
          Response headers:
        <ul  *ngFor="let header of headers">
          <li>{{header}}</li> 
        </ul>
      </div>
    </div>
  </div>
</div>